.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-color: black;
  background-image: url("../img/card-back.png");
  z-index: 30;
}

.covered:after {
  content: '';
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  background-image: url("../img/card-back.png");
}
.hand {
  overflow: auto;
}
body{
  background-image: url('http://corporate.fortuna2000.be/imgs/background/red_poker3_xl.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.player-hand-container, .dealer-hand-container{
  color: #fff;
}
.loanSharks{
   width: 320px;
   height: 240px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
   display: none;
   z-index: 1000;
}